.rank-f { --rank-color: #8b8f99; }
.rank-e { --rank-color: #75ff9b; }
.rank-d { --rank-color: #5aa7ff; }
.rank-c { --rank-color: #b278ff; }
.rank-b { --rank-color: #ff78d6; }
.rank-a { --rank-color: #ff9f43; }
.rank-s { --rank-color: #ffd86b; }
